<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/vehicles/list"
      ></ion-back-button>
    </ion-buttons>

    <ion-title>Detalle del Vehículo</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text
    color="danger"
    *ngIf="messageError"
  >
    <p class="ion-padding">
      {{ messageError }}
    </p>
  </ion-text>


  <div *ngIf="vehicle">

    <ion-card>

      <ion-card-content>

        <h2>
          Placa: {{ vehicle.plate }}
        </h2>

        <p>
          <strong>Marca:</strong>
          {{ getBrandName() }}
        </p>

        <p>
          <strong>Modelo:</strong>
          {{ getModelName() }}
        </p>

        <p>
          <strong>Combustible:</strong>
          {{ getFuelName() }}
        </p>

        <p>
          <strong>Color:</strong>
          {{ getColorName() }}
        </p>

        <p>
          <strong>VIN:</strong>
          {{ vehicle.vin || 'Sin VIN' }}
        </p>

        <p>
          <strong>Año:</strong>
          {{ vehicle.year }}
        </p>

        <p>
          <strong>Kilometraje:</strong>
          {{ vehicle.mileage }}
        </p>

        <p>
          <strong>Estado:</strong>
          {{ vehicle.is_active ? 'Activo' : 'Inactivo' }}
        </p>

        <p>
          <strong>Registro:</strong>
          {{ vehicle.created_at | date:'yyyy-MM-dd' }}
        </p>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>