<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vehicles/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Vehiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="danger" *ngIf="messageError" >
    <p class="ion-padding" >{{ messageError }}</p>
  </ion-text>

  <div *ngIf="vehicle">
    <ion-card>
      <ion-card-content>
        <h2>Placa: {{ vehicle.plate }}</h2>
        <p><strong>ID:</strong> {{ vehicle.id }}</p>
        <p><strong>VIN:</strong> {{ vehicle.vin }}</p>
        <p><strong>Year:</strong> {{ vehicle.year }}</p>
        <p><strong>Kilometraje:</strong> {{ vehicle.mileage }}</p>
        <p><strong>Modelo ID:</strong> {{ vehicle.model_id }}</p>
        <p><strong>Usuario ID:</strong> {{ vehicle.user_id }}</p>
        <p><strong>Combustible ID:</strong> {{ vehicle.fuel_id }}</p>
        <p><strong>Color ID:</strong> {{ vehicle.color_id }}</p>
        <p>
          <ion-badge color="success" *ngIf="vehicle.is_active">Activo</ion-badge>
          <ion-badge color="danger" *ngIf="!vehicle.is_active">Inactivo</ion-badge>
        </p>
        <p><strong>Registro:</strong> {{ vehicle.created_at | date:'yyyy-MM-dd' }}</p>
        <p><strong>Actualizado:</strong> {{ vehicle.updated_at | date:'yyyy-MM-dd' }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer *ngIf="vehicle">
  <ion-toolbar>
    <ion-button expand="block" (click)="abrirPagina()">
      Ver respuesta de la API
    </ion-button>
  </ion-toolbar>
</ion-footer>