<ion-header>
  <ion-toolbar>
    <ion-title>Ordenes de Trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let workorder of workorders">
      <ion-label>
        <h2>Orden #{{ workorder.id }}</h2>
        <p>Kilometraje: {{ workorder.mileage }} km</p>
      </ion-label>
      <ion-button [routerLink]="['/workorders/detail', workorder.id]" >
          <ion-icon name="eye-outline" ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>