<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        (click)="closeModal()"
        [disabled]="saved"
      >
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ isEdition ? 'Editar modelo' : 'Nuevo modelo' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    *ngIf="modelForm"
    [formGroup]="modelForm"
    (ngSubmit)="saveModel()"
  >
    <ion-list>

      <ion-item>
        <ion-select
          label="Marca"
          labelPlacement="stacked"
          formControlName="brand_id"
          interface="popover"
          placeholder="Selecciona una marca"
        >
          <ion-select-option
            *ngFor="let brand of brands"
            [value]="brand.id"
          >
            {{ brand.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('brand_id') as error"
      >
        {{ error }}
      </ion-note>

      <ion-item>
        <ion-input
          label="Modelo"
          labelPlacement="stacked"
          type="text"
          formControlName="name"
          maxlength="100"
          placeholder="Ej. Corolla"
        ></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('name') as error"
      >
        {{ error }}
      </ion-note>

    </ion-list>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin-top"
      [disabled]="saved || loading"
    >
      {{
        saved
          ? 'Guardando...'
          : (isEdition ? 'Actualizar' : 'Guardar')
      }}
    </ion-button>
  </form>
</ion-content>