<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ isEdition ? 'Editar Vehículo' : 'Nuevo Vehículo' }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form
    *ngIf="vehicleForm"
    [formGroup]="vehicleForm"
    (ngSubmit)="saveVehicle()"
  >

    <ion-list>

      <!-- Marca -->
      <ion-item>
        <ion-select
          label="Marca"
          labelPlacement="stacked"
          formControlName="brand_id"
          (ionChange)="onBrandChange()"
          interface="popover"
        >

          <ion-select-option
            *ngFor="let brand of brands"
            [value]="brand.id"
          >
            {{ brand.name }}
          </ion-select-option>

        </ion-select>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('brand_id') as error"
      >
        {{ error }}
      </ion-note>


      <!-- Modelo -->
      <ion-item>
        <ion-select
          label="Modelo"
          labelPlacement="stacked"
          formControlName="model_id"
          interface="popover"
        >

          <ion-select-option
            *ngFor="let model of filteredModels"
            [value]="model.id"
          >
            {{ model.name }}
          </ion-select-option>

        </ion-select>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('model_id') as error"
      >
        {{ error }}
      </ion-note>


      <!-- Combustible -->
      <ion-item>
        <ion-select
          label="Combustible"
          labelPlacement="stacked"
          formControlName="fuel_id"
          interface="popover"
        >

          <ion-select-option
            *ngFor="let fuel of fuels"
            [value]="fuel.id"
          >
            {{ fuel.name }}
          </ion-select-option>

        </ion-select>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('fuel_id') as error"
      >
        {{ error }}
      </ion-note>


      <!-- Color -->
      <ion-item>
        <ion-select
          label="Color"
          labelPlacement="stacked"
          formControlName="color_id"
          interface="popover"
        >

          <ion-select-option
            *ngFor="let color of colors"
            [value]="color.id"
          >
            {{ color.name }}
          </ion-select-option>

        </ion-select>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('color_id') as error"
      >
        {{ error }}
      </ion-note>


      <!-- Placa -->
      <ion-item>
        <ion-input
          label="Placa"
          labelPlacement="stacked"
          type="text"
          formControlName="plate"
          maxlength="10"
        ></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('plate') as error"
      >
        {{ error }}
      </ion-note>


      <!-- VIN -->
      <ion-item>
        <ion-input
          label="VIN"
          labelPlacement="stacked"
          type="text"
          formControlName="vin"
          maxlength="17"
        ></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('vin') as error"
      >
        {{ error }}
      </ion-note>


      <!-- Año -->
      <ion-item>
        <ion-input
          label="Año"
          labelPlacement="stacked"
          type="number"
          formControlName="year"
        ></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('year') as error"
      >
        {{ error }}
      </ion-note>


      <!-- Kilometraje -->
      <ion-item>
        <ion-input
          label="Kilometraje"
          labelPlacement="stacked"
          type="number"
          formControlName="mileage"
        ></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="getError('mileage') as error"
      >
        {{ error }}
      </ion-note>

    </ion-list>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin-top"
      [disabled]="saved"
    >
      {{ saved
        ? (isEdition ? 'Actualizando...' : 'Guardando...')
        : (isEdition ? 'Actualizar' : 'Guardar')
      }}
    </ion-button>

  </form>

</ion-content>