<ion-header>
  <ion-toolbar>
    <ion-title>Cotizaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="createQuote()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let quote of quotes">
      <ion-label class="ion-text-wrap">
        <h2>Cotizacion #{{ quote.id }}</h2>
        <p>Total: ${{ quote.total }}</p>
      </ion-label>
      <ion-button slot="end" [routerLink]="['/quotes/detail',quote.id]">
        <ion-icon name="eye-outline" ></ion-icon>
      </ion-button>
      <ion-button slot="end" color="warning" (click)="abrirEditarModal(quote.id)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>