<ion-header>
  <ion-toolbar>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="center"
>
  <ion-fab-button (click)="createService()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let service of services">

      <ion-label class="ion-text-wrap">
        <h2>{{ service.name }}</h2>
      </ion-label>

      <ion-button
        slot="end"
        [routerLink]="['/services/detail', service.id]"
      >
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>

      <ion-button
        slot="end"
        color="warning"
        (click)="editService(service.id)"
      >
        <ion-icon name="pencil"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>