<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nueva Evidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="evidenceForm" [formGroup]="evidenceForm" (ngSubmit)="saveEvidence()">
    <ion-list>
      <ion-item>
        <ion-input label="Orden ID" labelPlacement="stacked" type="number" formControlName="workorder_id"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="getError('workorder_id') as error">
        {{ error }}
      </ion-note>
      <ion-item>
        <ion-input label="Ruta" labelPlacement="stacked" type="text" formControlName="path"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="getError('path') as error">
        {{ error }}
      </ion-note>
      <ion-item>
        <ion-input label="Formato" labelPlacement="stacked" type="text" formControlName="format"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="getError('format') as error">
        {{ error }}
      </ion-note>
      <ion-item>
        <ion-input label="Tamaño" labelPlacement="stacked" type="number" formControlName="size"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="getError('size') as error">
        {{ error }}
      </ion-note>
    </ion-list>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="saved">
      {{ saved ? 'Guardando...' : 'Guardar' }}
    </ion-button>
  </form>
</ion-content>
