<ion-header>
  <ion-toolbar>
    <ion-title>Colores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="createColor()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let color of colors">
      <ion-label>
        <h2>{{ color.name }}</h2>
        <ion-button slot="end" [routerLink]="['/colors/detail', color.id]">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
