<ion-header>
  <ion-toolbar>
    <ion-title>Colores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="center"
>
  <ion-fab-button (click)="createColor()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let color of colors">
      <ion-label class="ion-text-wrap">
        <h2>{{ color.name }}</h2>

        <p>
          Estado:
          {{ color.is_active ? 'Activo' : 'Inactivo' }}
        </p>

        <p>
          Registro:
          {{ color.created_at | date:'yyyy-MM-dd' }}
        </p>
      </ion-label>

      <ion-button
        slot="end"
        color="warning"
        (click)="editColor(color.id)"
      >
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>