<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Nuevo Diagnóstico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    *ngIf="diagnosisForm"
    [formGroup]="diagnosisForm"
    (ngSubmit)="saveDiagnosis()"
  >

    <ion-list>

      <!-- Orden de trabajo -->
      <ion-item>
        <ion-input
          label="Orden de trabajo"
          labelPlacement="stacked"
          type="number"
          formControlName="workorder_id"
        ></ion-input>
      </ion-item>

      <ion-note color="danger" *ngIf="getError('workorder_id') as error">
        {{ error }}
      </ion-note>


      <!-- Descripción -->
      <ion-item>
        <ion-textarea
          label="Descripción"
          labelPlacement="stacked"
          formControlName="description"
        ></ion-textarea>
      </ion-item>

      <ion-note color="danger" *ngIf="getError('description') as error">
        {{ error }}
      </ion-note>


      <!-- Resultado -->
      <ion-textarea
        label="Resultado"
        labelPlacement="stacked"
        formControlName="result"
      ></ion-textarea>

    </ion-list>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin-top"
      [disabled]="saved"
    >
      {{ saved ? 'Guardando...' : 'Guardar' }}
    </ion-button>

  </form>
</ion-content>