<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/brands/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Marca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="danger" *ngIf="messageError">
    <p class="ion-padding">{{ messageError }}</p>
  </ion-text>


  <ion-card *ngIf="brand as detail">
    <ion-card-content>
      <h2>{{ detail.name }}</h2>
      <p><strong>ID:</strong> {{ detail.id }}</p>
      <p>
        <ion-badge color="success" *ngIf="detail.is_active">Activo</ion-badge>
        <ion-badge color="danger" *ngIf="!detail.is_active">Inactivo</ion-badge>
      </p>
      <p><strong>Registro:</strong> {{ detail.created_at | date:'yyyy-MM-dd' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="brand">
  <ion-toolbar>
    <ion-button expand="block" (click)="abrirFormModal()">
      Abrir formulario
    </ion-button>
  </ion-toolbar>
</ion-footer>