<ion-header>
  <ion-toolbar>
    <ion-title>Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let payment of payments">
      <ion-label class="ion-text-wrap">
        <h2>Monto: ${{ payment.amount }}</h2>
        <p>Referencia: {{ payment.reference || 'N/A' }}</p>
      </ion-label>
      <ion-button slot="end" [routerLink]="['/payment/detail',payment.id]" >
        <ion-icon name="eye-outline" ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>