<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Nuevo Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    *ngIf="serviceForm"
    [formGroup]="serviceForm"
    (ngSubmit)="saveService()"
  >

    <ion-list>

      <!-- Nombre -->
      <ion-item>
        <ion-input
          label="Nombre"
          labelPlacement="stacked"
          type="text"
          formControlName="name"
        ></ion-input>
      </ion-item>

      <ion-note color="danger" *ngIf="getError('name') as error">
        {{ error }}
      </ion-note>


      <!-- Precio -->
      <ion-item>
        <ion-input
          label="Precio"
          labelPlacement="stacked"
          type="number"
          formControlName="price"
        ></ion-input>
      </ion-item>

      <ion-note color="danger" *ngIf="getError('price') as error">
        {{ error }}
      </ion-note>


      <!-- Descripción -->
      <ion-item>
        <ion-textarea
          label="Descripción"
          labelPlacement="stacked"
          formControlName="description"
        ></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-button
      expand="block"
      type="submit"
      class="ion-margin-top"
      [disabled]="saved"
    >
      {{ saved ? 'Guardando...' : 'Guardar' }}
    </ion-button>

  </form>
</ion-content>