<ion-header>
  <ion-toolbar>
    <ion-title>Refacciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="createPart()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let part of parts">
      <ion-label class="ion-text-wrap">
        <h2>{{ part.name }}</h2>
        <p>Precio: ${{ part.price }}</p>
      </ion-label>
      <ion-button slot="end" [routerLink]="['/parts/detail',part.id]">
          <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" color="warning" (click)="abrirEditarModal(part.id)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>