<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/history/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="historyItem">
    <ion-card>
      <ion-card-content>
        <h2>Vehiculo ID: {{ historyItem.vehicle_id }}</h2>
        <p><strong>Orden de Trabajo ID:</strong> {{ historyItem.workorder_id }}</p>
        <p><strong>Registro:</strong> {{ historyItem.created_at | date:'yyyy-MM-dd' }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!historyItem" class="ion-text-center">
    <p>Cargando informacion...</p>
  </div>
</ion-content>