<ion-header>
  <ion-toolbar>
    <ion-title>Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of appointments">
      <ion-label class="ion-text-wrap">
        <h2>Fecha: {{ item.date }} - {{ item.time }}</h2>
        <p>Vehiculo ID: {{ item.vehicle_id }}</p>
      </ion-label>
      <ion-button slot="end" [routerLink]="['/appointments/detail', item.id]">
        <ion-icon  name="eye-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>